<div class="selectDiv">
    <span>Flowchart name:</span>
    <select [(ngModel)]="flowchartId" (change)="setFlowchartStructure()" name="flowcharts" id="flowcharts">
        <option [value]="flowchart.id" *ngFor="let flowchart of flowcharts">{{flowchart.title}}</option>
    </select>
</div>

<div *ngIf="!this.steps.length" id="firstStepDiv">
    <span>Add First Step</span>
    <button (click)="addStep(null)" class="addButton"><img class="icons" src="assets/images/plus-sign.png" alt="plus sign"></button>
</div>

<div #modal id="modal" class="modalOff">
    <div class="modal-content">
        <form id="modalForm">
            <input type="text" #stepTitle id="stepTitle" placeholder="Type the step title...">
            <div id="modalButtons">
                <button id="submitButton" (click)="submitStep($event, stepTitle)">Add Step</button>
                <button id="backButton" (click)="backToScreen(stepTitle)">Back</button>
            </div>
        </form>
    </div>
</div>

<div #flowchart id="flowchart"></div>